DATABASE_URL="postgres://postgres:123456@localhost:5432/next-pizza-db"

NEXT_PUBLIC_API_URL="/api"

AUTH_SECRET="2GtyOjNHN96oIH0hUmxojqv4GXuQyzd0NTPqjp7ih3A="
AUTH_GITHUB_ID=Ov23livZOgh6gBa1D9Wf
AUTH_GITHUB_SECRET=
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

DADATA_TOKEN=